# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Alloy'
      'submenu': [
        {
          'label': 'Compile'
          'command': 'atom-alloy:compile'
        },
        {
          'label': "Execute"
          'command': 'atom-alloy:execute'
        },
        {
          'label': "Execute All Commands"
          'command': 'atom-alloy:execute-all'
        }
        {
          'label': "Visualize"
          'command': 'atom-alloy:visualize'
        },
        {
          'label': "Visualize All Commands"
          'command': 'atom-alloy:visualize-all'
        },
        {
          'label': "Cancel Current Command"
          'command': 'atom-alloy:cancel'
        }
      ]
    ]
  }
]
